<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Placa</mat-label>
    <input matInput placeholder="Ex. Placa" [(ngModel)]="placa" value="{{placa}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Propietario</mat-label>
    <input matInput placeholder="Ex. Propietario" [(ngModel)]="propietario" value="{{propietario}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tipo de Vehiculo</mat-label>
    <input matInput placeholder="Ex. Tipo de Vehiculo" [(ngModel)]="tipo_vehiculo" value="{{tipo_vehiculo}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Vin</mat-label>
    <input matInput placeholder="Ex. Vin" [(ngModel)]="vin" value="{{vin}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Marca</mat-label>
    <input matInput placeholder="Ex. Marca" [(ngModel)]="marca" value="{{marca}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Cilindrada</mat-label>
    <input matInput placeholder="Ex. Cilindrada" [(ngModel)]="cilindrada" value="{{cilindrada}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput placeholder="Ex. Color" [(ngModel)]="color" value="{{color}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Chasis</mat-label>
    <input matInput placeholder="Ex. Chasis" [(ngModel)]="chasis" value="{{chasis}}">
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Modelo</mat-label>
    <input matInput placeholder="Ex. Modelo" [(ngModel)]="modelo" value="{{modelo}}">
</mat-form-field>



<button mat-button color="primary" (click)="guardar()">Guardar</button>