<section id="MenuMantenimiento">
    <br>
    <div id="TituloMantenimiento">Mantenimiento de Vehiculos</div>
    <br>
    <div class="example-button-row">
        <button mat-stroked-button color="basic" routerLink="create-component" routerLinkActive="active">Asociar Vehiculo</button>
        <button mat-stroked-button color="primary" routerLink="save-component" routerLinkActive="active">Create</button>
        <button mat-stroked-button color="accent" routerLink="update-component" routerLinkActive="active">Update</button>
        <button mat-stroked-button color="warn" routerLink="delete-component" routerLinkActive="active">Delete</button>
    </div>
</section>

<section id="ContenidoMantenimiento">
    <router-outlet></router-outlet>
</section>