<section>
    <div class="example-label">Detektor</div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-fab color="primary" routerLink="/catalogo-component" routerLinkActive="active" aria-label="Catalogo">
            <mat-icon>how_to_reg</mat-icon>
          </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="accent" routerLink="/vehiculo-component" routerLinkActive="active" aria-label="Vehiculos">
            <mat-icon>directions_car</mat-icon>
          </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="warn" routerLink="/reporte-component" routerLinkActive="active" aria-label="Reporte">
            <mat-icon>list</mat-icon>
          </button>
            </div>
        </div>
    </div>
</section>



<router-outlet></router-outlet>